1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [1]:
%%time

def twoval(x,y):
    print("Added value:", x+y)

Wall time: 0 ns

In [4]:
 x=int(input("Enter value x"))
y=int(input("Enter Value y"))
twoval(x,y)

Enter value x3
Enter Value y5
Added value: 8

In [3]:
## 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [2]:
 x=input("Enter value x")
y=input("Enter Value y")
twoval(x,y)

Enter value x2
Enter Value y3
Added value: 23

##3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [24]:
[x for x in "Datascience" if x in "s"]
         
    
#print(r)

['s']

In [34]:
str="datascience"
for x in str:  
    if(x == 'S'or x == 's'):
        print("True")

True

In [30]:
len(str)

11

## 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [47]:
list1= input("Enter list of number with space ")

def listfunction(list1):

    if(list1[0]==list1[-1]):
        return "True"
    else:
        return "False"

Enter list of number with space 2 3 4 5 2

In [48]:
listfunction(list1)

'True'

## 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [49]:
l1 = [10, 20, 33, 46, 55]
[x for x in l1 if x%5==0 ]

[10, 20, 55]

## 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
# a.	Hint: Separate return values with a comma

In [52]:

def Calculation(a,b):
    
    return a+b,a-b

In [55]:
a=int(input("Enter value of a:"))
b=int(input("Enter value of b:"))
     
Calculation(a,b)

Enter value of a:4
Enter value of b:5

(9, -1)

## 7.	Write a program to demonstrate the following Syntax error
## a.	SyntaxError: non-default argument follows default argument

In [62]:
def argumentserror(b='Sreenath',dept):
       print(b,"in",dept )

SyntaxError: non-default argument follows default argument (<ipython-input-62-53de0b321013>, line 1)

## 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

In [65]:
def rec(n):
    if(n ==0):
        return n
    else:
        return(n+rec(n-1))

In [67]:
n=10
rec(n)

55

## 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [89]:
a= [12, 11, 53, 22, 21, 77, 87, 88, 98]
c= list(map(lambda x: x**2, (filter(lambda x : x % 2 != 0,a))))
c

[121, 2809, 441, 5929, 7569]

## Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [1]:
def square(n): # square only if its odd
    if(n%2 !=0):
        return n*n

In [2]:
updated_list2=[]
my_list231 = [2,3,4,5,6,7,8,9]
updated_list2 += (map(square, my_list231))
print(list(updated_list2))

[None, 9, None, 25, None, 49, None, 81]

In [3]:

def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [134]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

100