# Function to find the factorial of a number

In [ ]:
def fact1(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return fact   
    
fact1(5)

# Convert degree to farenheit

In [3]:

def fah(n):
    fahrenheit = (n * 1.8) + 32
    return fahrenheit
fah(32)

89.6

# Implement a simple generator for Fibonacci series

In [2]:
# Fibinocci

def fib(n):
    a,b = 0,1
    while a<n:
        print(a,end=" ")
        a,b = b,a+b
        
fib(10)

0 1 1 2 3 5 8

# Write an iterator class to iterate over a sequence of values in the reverse direction

In [4]:
a = ["a1","a2","a3"]
for i in reversed(a):
    print(i,end =" ")

a3 a2 a1

# Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [6]:
Base_pay = int(input("Enter your base pay:"))
HRA = int(input("Enter your HRA:"))
Special_allowance = int(input("Enter your spl allowance:"))

def salary(func,Base_pay,HRA,Special_allowance):
   
    Total_salary = (Base_pay + HRA + Special_allowance)-(func(Base_pay))
    return Total_salary 
    
def tax(Base_pay):
    return (Base_pay)*(30/100)
    
tax(Base_pay)    
print("Your current salary is :",salary(tax,Base_pay,HRA,Special_allowance))

Enter your base pay:1000
Enter your HRA:500
Enter your spl allowance:500
Your current salary is : 1700.0

In [7]:
#Write 3 examples on possible methods to change a tuple

In [8]:
t = (1,2,3,4)  # tuple 
t = list(t)    # change tuple to list 
t[1]=4         # update tuple 
t

[1, 4, 3, 4]

In [9]:
t2 = (1,2,3,4) 
t1 = (1,4,5,6)
t = t1+t2
t

(1, 4, 5, 6, 1, 2, 3, 4)