1.Import the necessary package to
    Set the current working directory
    Change the working directory

In [7]:
from Sreenath_package import testpackage

In [9]:
print(testpackage.Gender)

1

In [8]:
print(testpackage.Email)

sree.m.nath@gmail.com

Create the string, int and float variable and delete them all in the next cell

In [19]:
Name='Sam'
Age=6
hight_in_feet = 3.5

In [20]:
del Name
del Age
del hight_in_feet

In [22]:
Name

NameError: name 'Name' is not defined

What’s the result of assigning a value to a ‘keyword’?
Please highlight the error

In [27]:
def = 'Sreenath'

SyntaxError: invalid syntax (Temp/ipykernel_2372/757138286.py, line 1)

How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [32]:
#This is block comment 
#which you can write for multiple lines
print(2*3)

6

In [34]:
"""
trying to achive diffrent ways of multiple way to write
multi lined comments
"""

'\ntrying to achive diffrent ways of multiple way to write\nmulti lined comments\n'

#How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [37]:
mylist = list(range(100,999,8))

In [38]:
mylist

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

#Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [42]:
n= int(input("Enter value"))
for x in range(n):
    print (x/2)

Enter value6
0.0
0.5
1.0
1.5
2.0
2.5

Write a simple function and call the docstring from outside the function

In [1]:
def my_function(fname,lname):
     print(fname+" "+lname)

In [2]:
my_function("Sreenath","Menath")

Sreenath Menath

Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
<< Formula to calculate semi-perimeter: s = (a+b+c )/2
<< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>

In [9]:
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
c=int(input("Enter b value:"))
sp= (a+b+c )/2
area= (sp*(sp-a)*(sp-b)*(sp-c))**0.5
print(sp)
print(area)

Enter a value:4
Enter b value:4
Enter b value:4
6.0
6.928203230275509

In [10]:
from Sreenath_package import Ex_Triangle

Enter a value:3
Enter b value:4
Enter b value:5

In [11]:
print(sp)

6.0

In [12]:
print(area)

6.928203230275509

Write a list comprehension to print the odd numbers from 0 to 100

In [15]:
[x for x in range(1,100)if x%2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
Ex: name = Imran
Output = [‘m’, ‘r’, ‘n’]

In [18]:
[x for x in input()if (x not in 'aeiou')]

Imran

['I', 'm', 'r', 'n']

In [19]:
[x for x in input()if (x not in 'aeiou')]

Sreenath

['S', 'r', 'n', 't', 'h']